@page "/student/delete/{id:int}"
@inject IStudentService studentService
@inject IMatDialogService dialogService
@inject IMatToaster matToaster
<MatDialogTitle Style="display:flex; align-items:center;">
    <div style="flex:1;">
        Vuoi davvero eliminare lo studente @student.name?
    </div>
    <div @onclick="@(_=>DeleteStudent(student.Id))" style="cursor: pointer;">
        <MatIcon Icon="@MatIconNames.Save"></MatIcon>
    </div>
    <div @onclick="@(_=>CloseDialog())" style="cursor:pointer;">
        <MatIcon Icon="@MatIconNames.Close"></MatIcon>
    </div>
</MatDialogTitle>

@code {
    [Parameter]
    public int id { get; set; }

    [CascadingParameter]
    public MatDialogReference dialogReference { get; set; }

    private Student student;

    protected override async Task OnInitializedAsync()
    {
        await studentService.GetStudents();
    }

    protected override async Task OnParametersSetAsync()
    {
        dialogService.OpenAsync(typeof(DeleteStudentDialog), null);
        await studentService.GetStudentById(id);
    }

    async Task DeleteStudent(int id)
    {
        matToaster.Add("Student Deleted Succesfully", MatToastType.Success);
        dialogReference.Close("test");
        await studentService.DeleteStudent(id);
    }
    async Task CloseDialog()
    {
        dialogReference.Close("Test");
    }
}
